.friend{ 
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    padding: 10px 40px;
    max-width: 1000px;
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
    
}

.friend:hover{
    font-style: italic;
    cursor: pointer;
}

.id{
    text-align: left;
}

.name{
    text-align: left;
}

.email{
    text-align: left;
    color: red;
}

.age{
    text-align: left;

}

form{
    margin-top: 30px;
}